<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>订单管理系统-</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/ready.css">
	<link rel="stylesheet" href="assets/css/demo.css">
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				
				</nav>
			</div>
			<div class="sidebar">
				<div class="scrollbar-inner sidebar-wrapper">
					<div class="user">
						<div class="info">
							<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span id="myUserName">

									<span class="user-level"></span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">个人信息</span>
										</a>
									</li>
									<li>
										<a href="#edit">
											<span class="link-collapse">编辑个人信息</span>
										</a>
									</li>
									<li>
										<a href="logout">
											<span class="link-collapse">退出登录</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav" id="menuNav">
						<li class="nav-item ">
							<a href="index">
								<i class="la la-dashboard"></i>
								<p>首页数据概览</p>
								<!--<span class="badge badge-count">5</span>-->
							</a>
						</li>
						<li class="nav-item">
							<a href="order">
								<i class="la la-table"></i>
								<p>订单管理</p>
								<!--<span class="badge badge-count">14</span>-->
							</a>
						</li>
						<li class="nav-item">
							<a href="project">
								<i class="la la-keyboard-o"></i>
								<p>项目管理</p>
								<!--<span class="badge badge-count">50</span>-->
							</a>
						</li>
						<li class="nav-item active">
							<a href="workorder">
								<i class="la la-th"></i>
								<p>工单管理</p>
								<!--<span class="badge badge-count">6</span>-->
							</a>
						</li>
						<!--<li class="nav-item">-->
							<!--<a href="user">-->
								<!--<i class="la la-font"></i>-->
								<!--<p>账户管理</p>-->
								<!--&lt;!&ndash;<span class="badge badge-danger">25</span>&ndash;&gt;-->
							<!--</a>-->
						<!--</li>-->
					</ul>
				</div>
			</div>
			<div class="main-panel">
				<div class="content">
					<div><!-- 按钮触发模态框 -->
						<button class="btn btn-link btn-lg" data-toggle="modal" data-target="#addNewWorkOrder">
							新增工单信息
						</button></div>
					<div><input class="input" id="workOrderTitleSearch" placeholder="工单标题"><button id="searchWorkOrder" class="btn btn-primary btn-round">搜索</button></div>
					<div class="container-fluid" id="workOrderTable">

					</div>
				</div>
				<footer class="footer">
					
				</footer>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">									
				<p>Currently the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
				<p>
				<b>We'll let you know when it's done</b></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
</body>

<!-- 模态框（Modal） -->
<div class="modal fade" id="addNewWorkOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×-->
				<!--</button>-->
				<h4 class="modal-title" id="myModalLabel">
					工单信息
				</h4>
			</div>
			<form id="myWorkOrderForm">
				<div class="modal-body">
					<input id="woid" name="woid" type="hidden">
					工单标题：<input type="text" id="title" name="title" style="width: 70%"><br/>
					创建时间：<input type="datetime-local" id="createTime" name="createTime" style="width: 70%"><br/>
					开始时间：<input type="datetime-local" id="startTime" name="startTime" style="width: 70%"><br/>
					结束时间：<input type="datetime-local" id="endTime" name="endTime" style="width: 70%"><br/>
					经办人员：<input type="text" id="resolver" name="resolver" style="width: 70%"><br/>
					联系方式：<input type="tel" id="phone" name="phone" style="width: 70%"><br/>
					工单描述：<input type="text" id="detail" name="detail" style="width: 70%">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						关闭
					</button>
					<button type="button" class="btn btn-primary" id="addWorkOrderBtn">
						提交
					</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script>
    $("#workOrderTable").text('');
	$('#displayNotif').on('click', function(){
		var placementFrom = $('#notify_placement_from option:selected').val();
		var placementAlign = $('#notify_placement_align option:selected').val();
		var state = $('#notify_state option:selected').val();
		var style = $('#notify_style option:selected').val();
		var content = {};

		content.message = 'Turning standard Bootstrap alerts into "notify" like notifications';
		content.title = 'Bootstrap notify';
		if (style == "withicon") {
			content.icon = 'la la-bell';
		} else {
			content.icon = 'none';
		}
		content.url = 'index.html';
		content.target = '_blank';

		$.notify(content,{
			type: state,
			placement: {
				from: placementFrom,
				align: placementAlign
			},
			time: 1000,
		});
	});
</script>
<script src="assets/js/commen.js"></script>
<script src="assets/js/plugin/table/bootstrap-table.js"></script>
<script src="assets/js/plugin/table/bootstrap-table-zh-CN.js"></script>
<script>
	function fillData(index) {
		var data=$("#workOrderTable").bootstrapTable('getData');
		var datum=data[index];
		$("#woid").val(datum.id);
		$("#title").val(datum.title);
		$("#createTime").val(datum.createTime.replace(" ","T").substring(0,16));
		$("#startTime").val(datum.startTime.replace(" ","T").substring(0,16));
		$("#endTime").val(datum.endTime.replace(" ","T").substring(0,16));
		$("#resolver").val(datum.resolver);
		$("#phone").val(datum.phone);
		$("#detail").val(datum.detail);
		$('#addNewWorkOrder').modal('show')
	}
	function actionFormatter(value,row,index) {
		var content='<button type="button" class="btn btn-link btn-lg" onclick="fillData('+index+')">编辑</button>';
		return content;
	}
    function initTable(name) {
        $("#workOrderTable").bootstrapTable('destroy');
        $("#workOrderTable").bootstrapTable({
            url:"workOrderList",   //请求地址
            method: 'post',
            striped : true, //是否显示行间隔色
            pageNumber : 1, //初始化加载第一页
            pagination : true,//是否分页
            sidePagination : 'server',//server:服务器端分页|client：前端分页
            pageSize : 5,//单页记录数
            pageList : [ 5, 10, 20],//可选择单页记录数
            //showRefresh : true,//刷新按钮
            queryParams : function(params) {//上传服务器的参数
                var temp = {
                    index :params.offset + 0,// SQL语句起始索引
                    size : params.limit // 每页显示数量
                };
                if(name!=null){
                    temp.name=name;
                }
                return temp;
            },columns : [ {
                title : '编号',
                field : 'id',
                sortable : true,
                align:'center',
                colspan: 1,
                width:100
            }, {
                title : '工单标题',
                field : 'title',
                sortable : true,
                align:'center',
                colspan: 1
            }, {
				title : '创建时间',
				field : 'createTime',
				sortable : true,
				align:'center',
				colspan: 1
			}, {
				title : '开始时间',
				field : 'startTime',
				sortable : true,
				align:'center',
				colspan: 1
			}, {
				title : '结束时间',
				field : 'endTime',
				sortable : true,
				align:'center',
				colspan: 1
			}, {
				title : '经办人员',
				field : 'resolver',
				sortable : true,
				align:'center',
				colspan: 1
			}, {
				title : '联系方式',
				field : 'phone',
				sortable : true,
				align:'center',
				colspan: 1
			}, {
				title : '操作',
				field : 'opt',
				sortable : true,
				align:'center',
				colspan: 1,
				formatter:actionFormatter
			}]
        })
    }
    $(document).ready(function () {
        $("#workOrderTable").text('');
        initTable(null);
        $("#searchWorkOrder").on("click",function s() {
            var name=$("#workOrderTitleSearch").val();
            console.log(name);
            initTable(name);
        })
    })
</script>
<script>
	$(function () {
		$('#addNewWorkOrder').modal('hide')
	});
	$(function () {
		$('#addNewWorkOrder').on('hide.bs.modal', function () {
			$("#woid").val(null);
			$("#title").val(null);
			$("#detail").val(null);
			$("#createTime").val(null);
			$("#startTime").val(null);
			$("#endTime").val(null);
			$("#resolver").val(null);
			$("#phone").val(null);
		})
	});
	$("#addWorkOrderBtn").on('click',function () {
		var woid=$("#woid").val();
		var title=$("#title").val();
		var detail=$("#detail").val();
		var createTime=$("#createTime").val();
		var startTime=$("#startTime").val();
		var endTime=$("#endTime").val();
		var resolver=$("#resolver").val();
		var phone=$("#phone").val();

		var workOrder={};
		if (typeof(woid)!="undefined"&&woid!=null&&woid!=""){
			workOrder.id=woid;
		}
		startTime=startTime.replace("T"," ")+":00";
		endTime=endTime.replace("T"," ")+":00";
		createTime=createTime.replace("T"," ")+":00";
		workOrder.title=title;
		workOrder.detail=detail;
		workOrder.createTime=createTime;
		workOrder.startTime=startTime;
		workOrder.endTime=endTime;
		workOrder.resolver=resolver;
		workOrder.phone=phone;
		$.ajax({
			url:'addNewWorkOrder',
			type:"post",
			data:JSON.stringify(workOrder),
			contentType: 'application/json',
			dataType:'json',
			success:function (data) {
				if (data.returnCode=="1"){
					$('#addNewWorkOrder').modal('hide');
					$.notify({
						message: '提交成功！',
						type: 'success'
					});
					initTable(null);
				}
			}
		});
	});
</script>
</html>